
.bg-dark {
    background-color: #111315!important;
}

.under-construction-banner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: yellow;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  z-index: 9999;
  width: 100%;
  text-align: center;
}

